{% extends 'base_dash.html' %}
{# Load the tag library #}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'coffee_template/css/tenant-listar.css' %}">
    <style media="screen"></style>
{% endblock css %}

{% block titulo %} Clientes {% endblock titulo %}

{% block contenido %}
    <section class="ftco-section">
        <div class = "container">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'usuarios:home' %}">Home</a></span>
                <span>Lista de Clientes</span></p>
                    <form action="#" class="billing-form ftco-bg-dark p-3 p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-xl-10 ftco-animate">
                                <h3 class="mb-4 billing-heading">Lista de Clientes</h3>
                            </div>
                            <div class="col-xl-2 ftco-animate">
                                <p><a href="{% url 'usuarios:pdf_clientes' 0 %}" style="width: 143px;" class="btn btn-danger custom-btn p-2">Generar PDF</a></p>
                            </div>
                        </div>
                        <div class="table-responsive">
                          <table id="tabla_items" class="table table-striped">

                            <thead class="thead-dark">
                            <tr>
                                <th style="width: 10.5%" scope="col">Id</th>
                                <th style="width: 10.5%" scope="col">Usuario</th>
                                <th style="width: 10.5%" scope="col">Documento</th>
                                <th style="width: 10.5%" scope="col">Nombres</th>
                                <th style="width: 10.5%" scope="col">Apellidos</th>
                                <th style="width: 12.5%" scope="col">Correo Electrónico</th>
                                <th style="width: 10.5%" scope="col">Estado</th>
                                <th style="width: 14%" scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody >
                            {% for usuario in usuario_list %}
                                <tr>
                                    <td style="width: 5%">
                                        {{usuario.id}}
                                    </td>
                                    <td style="width: 10.5%">
                                        {{usuario.username}}
                                    </td>
                                    <td  style="width: 6%">
                                        {{usuario.documento}}
                                    </td>
                                    <td style="width: 12.5%">
                                        {{usuario.first_name}}
                                    </td>
                                    <td style="width: 18%">
                                        {{usuario.last_name}}
                                    </td>
                                    <td style="width: 10.5%">
                                        {{usuario.email}}
                                    </td>
                                    <td style="width: 8%">
                                        {{ usuario.is_active|yesno:"Activo,Inactivo"}}
                                    </td>
                                    <td style="width: 14%">

                                      <p class="mb-1"><a href="{% url 'usuarios:cliente_detalle' usuario.id %}" class="btn btn-outline-info custom-btn p-2">Ver detalle</a></p>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                          </table>
                        </div>

                  </form>
        </div>
    </section>

{% endblock contenido %}

{% block js %}
    <script type="text/javascript" language="javascript" src="{% static 'dist/js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'dist/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'dist/js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#tabla_items').DataTable({
                responsive: true
            });
        } );
    </script>

{% endblock js %}
