{% extends 'base_logout.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block titulo %}Contraseña{% endblock titulo %}


{% block contenido %}
    <section class="ftco-section">
        <div class="container">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'usuarios:home' %}">Home</a></span> <span>Cambiar Contraseña</span></p>
            <div class="row justify-content-center">
                <div class="col-xl-6 ftco-animate justify-content-center">
                    <form method="post" enctype="multipart/form-data" action="#" class="billing-form ftco-bg-dark p-3 p-md-5">
                        {% csrf_token %}
                        <h3 class="text3 mb-4 billing-heading">Cambiar Contraseña</h3>
                        <div class="row justify-content-center">

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="password1">Nueva Contraseña</label>
                                    {% render_field form.new_password1 class="form-control" type="password" %}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="password2">Confirmar Contraseña</label>
                                    {% render_field form.new_password2 class="form-control" type="password" %}
                                    <span class="helptext">
                                        <ul>
                                            <li>Su contraseña debe contener al menos 8 caracteres.</li>
                                            <li>Su contraseña no puede ser una clave utilizada comunmente.</li>
                                            <li>Su contraseña no puede ser completamente numérica.</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6 align-items-end">
                                <div class="form-group mt-4">
                                    <div class="text-center w-full p-t-30 p-b-22">
                                        <input class="btn btn-primary py-4 px-4"  type="submit"  value="Cambiar Contraseña" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form><!-- END -->
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section>
{% endblock contenido %}
{% block js %}

{% endblock js %}