{% extends 'base_perfil.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block titulo %}Contraseña{% endblock titulo %}


{% block contenido %}
    <section class="ftco-section">
        <div class="container">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'usuarios:home' %}">Home</a></span> <span>Cambiar Contraseña</span></p>
            <div class="row align-items-center">
                <div class="col-xl-12 ftco-animate">
                    <form action="#" class="billing-form ftco-bg-dark p-3 p-md-5">
                        <h3 class="mb-4 billing-heading">Cambiar Contraseña</h3>
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="password">Contraseña Actual</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="password1">Nueva Contraseña</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="password2">Confirmar Contraseña</label>
                                </div>
                            </div>
                            <div class="w-100"></div>
                           <div class="col-md-12 align-items-end">
                            <div class="form-group mt-4">
                                <div class="text-center w-full p-t-30 p-b-22">
                                    <p><a href="#"class="btn btn-primary py-4 px-4">Cambiar Contraseña</a></p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </form><!-- END -->
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section>
{% endblock contenido %}
{% block js %}

{% endblock js %}