{% extends 'base_perfil.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
    <style type="text/css">
        option {
            color: black;
        }
    </style>
{% endblock css %}

{% block titulo %}Mi Cuenta{% endblock titulo %}


{% block contenido %}
    <section class="ftco-section">
        <div class="container">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'usuarios:home' %}">Home</a></span>
                <span>Datos Personales</span></p>
            <div class="row align-items-center">
                <div class="col-xl-12 ftco-animate">
                    <form method="post" enctype="multipart/form-data" action="#" class="billing-form ftco-bg-dark p-3 p-md-5">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-xl-10 ftco-animate">
                                <h3 class="mb-4 billing-heading">Datos de la Cuenta</h3>
                            </div>
                            <div class="col-xl-2 ftco-animate">
                                <p><a style="width: 143px; color: black;" class="btn btn-danger p-2" data-toggle="modal" data-target="#desactivar">Eliminar Cuenta</a></p>
                            </div>
                        </div>
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombres">Nombres</label>
                                    {% render_field form.first_name class="form-control" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="apellidos">Apellidos</label>
                                    {% render_field form.last_name class="form-control" %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id">Documento de Identidad</label>
                                    {% render_field form.documento class="form-control" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="usuario">Nombre de Usuario</label>
                                    {% render_field form.username class="form-control" %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ciudad">Ciudad</label>
                                    {% render_field form.ciudad class="form-control" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="barrio">Barrio</label>
                                    {% render_field form.barrio class="form-control" %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="direccion">Dirección</label>
                                    {% render_field form.direccion class="form-control" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefono">Teléfono</label>
                                    {% render_field form.telefono class="form-control" %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailaddress">Correo Electrónico</label>
                                    {% render_field form.email class="form-control" %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12 align-items-end">
                                <div class="form-group mt-4">
                                    <div class="text-center w-full p-t-30 p-b-22">
                                        <input class="btn btn-primary py-4 px-4"  type="submit"  value="Actualizar Datos" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section>

    <div class="modal fade" id="desactivar">
        <div class="modal-dialog">
            <div class="modal-content ftco-bg-dark">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Cuenta</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Todos tus datos serán eliminados permanentemente y no habrá vuelta atrás. <br>
                    ¿Está seguro que desea eliminar esta cuenta?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <p><a style="width: 143px;" class="btn btn-white btn-outline-white custom-btn p-2" data-dismiss="modal">No</a></p>
                    <p><a href="{% url 'usuarios:desactivar' usuario.id %}" style="width: 143px;" class="btn btn-outline-danger custom-btn p-2">Si, eliminar</a></p>

                </div>

            </div>
        </div>
    </div>

{% endblock contenido %}
{% block js %}

{% endblock js %}