{% extends 'base_maravilla.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block miga_pan %}{% endblock miga_pan %}
{% block titulo %}Home{% endblock titulo %}


{% block contenido %}
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url({% static 'coffee_template/images/bg_1.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-8 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Bienvenido</span>
                        <h1 class="mb-4">Franquicias Maravilla</h1>
                        <p class="mb-4 mb-md-5">La empresa Maravilla es una franquicia individual de carácter nacional para la elaboración, producción, promoción y comercialización de alimentos procesados en diferentes líneas.
                            Cada uno de los productos que ofrecemos es elaborado y producido con la mejor calidad.</p>
                        <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Crea Tu Franquicia Ahora</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url({% static 'coffee_template/images/bg_2.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-8 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Bienvenido</span>
                        <h1 class="mb-4">Los mejores productos</h1>
                        <p class="mb-4 mb-md-5">Pollo, pastas, comidas rápidas, fritos, bebidas, carnes, pescados, menú infantil y la línea de combos.</p>
                        <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Crea Tu Franquicia Ahora</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="ftco-gallery">
        <div class="container-wrap">
            <div class="row no-gutters">
                <div class="col-md-3 ftco-animate">
                    <a href="#" class="gallery img d-flex align-items-center"
                       style="background-image: url({% static 'coffee_template/images/gallery-1.jpg' %});">
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="#" class="gallery img d-flex align-items-center"
                       style="background-image: url({% static 'coffee_template/images/gallery-2.jpg' %});">
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="#" class="gallery img d-flex align-items-center"
                       style="background-image: url({% static 'coffee_template/images/gallery-3.jpg' %});">
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="#" class="gallery img d-flex align-items-center"
                       style="background-image: url({% static 'coffee_template/images/gallery-4.jpg' %});">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url({% static 'coffee_template/images/bg_2.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <div class="icon"><span class="flaticon-coffee-cup"></span></div>
                                    <strong class="number" data-number="100">0</strong>
                                    <span>Productos en Menú</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <div class="icon"><span class="flaticon-coffee-cup"></span></div>
                                    <strong class="number" data-number="85">0</strong>
                                    <span>Franquicias Vendidas</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <div class="icon"><span class="flaticon-chef"></span></div>
                                    <strong class="number" data-number="10567">0</strong>
                                    <span>Clientes Satisfechos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <div class="icon"><span class="flaticon-coffee-cup"></span></div>
                                    <strong class="number" data-number="900">0</strong>
                                    <span>Productos Estrella</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}
{% block js %}

{% endblock js %}
