{% extends 'base_perfil.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block titulo %}Cuenta{% endblock titulo %}


{% block contenido %}
    <section class="ftco-section">
        <div class="container">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'usuarios:home' %}">Home</a></span> <span>Entrar</span></p>
            <div class="row align-items-center">
                <div class="col-xl-12 ftco-animate">
                    <form action="#" class="billing-form ftco-bg-dark p-3 p-md-5">
                        <h3 class="mb-4 billing-heading">Iniciar Sesión</h3>
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailaddress">Correo Electrónico</label>
                                    <input type="email" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pass1">Contraseña</label>
                                    <input type="password" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12 align-items-end">
                                <div class="form-group mt-4">
                                    <div class="text-center w-full p-t-30 p-b-22">
                                        <p><a href="#"class="btn btn-primary py-4 px-4">Entrar Ahora</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12 align-items-end">
                                <div class="form-group mt-4">
                                    <div class="text-center w-full p-t-30 p-b-22">
                                        <span class="txt1">O inicia sesión con</span>
                                    </div>
                                    <div class="text-center w-full p-t-30 p-b-22">
                                        <a href="#" class="btn-face m-b-10">
                                            <i class="fa fa-facebook-official"></i>
                                            Facebook | </a>
                                        <a href="#" class="btn-google m-b-10">
                                            <i class="fa fa-google"></i>
                                            Google
                                        </a>
                                    </div>
                                    <div class="text-center w-full p-t-30 p-b-22">
                                        <span class="txt1">¿No eres Miembro?</span>
                                        <a class="txt1 bo1 hov1" href="{% url 'usuarios:registrarme' %}">
                                            Registrarme
                                        </a>
                                    </div>
                                    <div class="text-center w-full">
                                        <a style="padding-top: 0" class="txt1 bo1 hov1" href="{% url 'usuarios:home' %}">
                                            Ir a la Página Principal
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section>
{% endblock contenido %}
{% block js %}

{% endblock js %}