{% extends 'base_logout.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
    <style type="text/css">
        option {
            color: black;
        }
    </style>
{% endblock css %}

{% block titulo %}Restablecer Contraseña{% endblock titulo %}


{% block contenido %}
    <section class="ftco-section ftco-cart">
        <div class="row justify-content-center">
            <div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3 class="row justify-content-center">Contraseña Restablecida</h3>
                </div>
                <div class="row">
                   <div class="col-md-6">
                   <p class="text-center"><a href="{% url 'usuarios:login' %}" class="btn btn-primary py-3 px-4">Inicia Sesión</a></p>
               </div>
                </div>

            </div>
        </div>
    </section>
{% endblock contenido %}
{% block js %}

{% endblock js %}