{% extends 'base_perfil.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block css %}
    <style type="text/css">
    option {
        color: black;
    }
    </style>
{% endblock css %}
{% block titulo %}Registro{% endblock titulo %}


{% block contenido %}
    <section class="ftco-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 ftco-animate">
                <form method="post" enctype="multipart/form-data" action="#" class="billing-form ftco-bg-dark p-3 p-md-5">
                    {% csrf_token %}
                    <h3 class="mb-4 billing-heading">Registrarme</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombres">Nombres</label>
                                {% render_field form.first_name class="form-control" %}
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                {% render_field form.last_name class="form-control" %}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id">Documento de Identidad</label>
                                {% render_field form.documento class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usuario">Nombre de Usuario</label>
                                {% render_field form.username class="form-control" %}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ciudad">Ciudad</label>
                                {% render_field form.ciudad class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="barrio">Barrio</label>
                                {% render_field form.barrio class="form-control" %}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="direccion">Dirección</label>
                                {% render_field form.direccion class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefono">Teléfono</label>
                                {% render_field form.telefono class="form-control" %}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">Correo Electrónico</label>
                                {% render_field form.email class="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pass1">Contraseña</label>
                                {% render_field form.password class="form-control" type="password" %}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12 align-items-end">
                            <div class="form-group mt-4">
                                <div class="text-center w-full p-t-30 p-b-22">
                                    <input class="btn btn-primary py-4 px-4"  type="submit"  value="Registrarme Ahora" />
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12 align-items-end">
                            <div class="form-group mt-4">
                                <div class="text-center w-full p-t-30 p-b-22">
                                    <span class="txt1">O inicia sesión con</span>
                                </div>
                                <div class="text-center w-full p-t-30 p-b-22">
                                    <a href="#" class="btn-face m-b-10">
                                        <i class="fa fa-facebook-official"></i>
                                        Facebook | </a>
                                    <a href="#" class="btn-google m-b-10">
                                        <i class="fa fa-google"></i>
                                        Google
                                    </a>
                                </div>
                                <div class="text-center w-full p-t-30 p-b-22">
                                    <span class="txt1">¿Ya eres Miembro?</span>
                                    <a class="txt1 bo1 hov1" href="{% url 'usuarios:login' %}">
                                        Iniciar Sesión
                                    </a>
                                </div>
                                <div class="text-center w-full">
                                    <a style="padding-top: 0" class="txt1 bo1 hov1" href="{% url 'usuarios:home' %}">
                                        Ir a la Página Principal
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>
{% endblock contenido %}
{% block js %}

{% endblock js %}

