{% extends 'base_maravilla.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load staticfiles %}

{% block css %}
    <style type="text/css">
        option {
            color: black;
        }
    </style>
{% endblock css %}

{% block titulo %} Crear Tenant {% endblock titulo %}

{% block contenido %}

    <section class="ftco-section center">
        <div class = "container">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'usuarios:home' %}">Home</a></span>
                <span class="mr-2"><a href="{% url 'tenants:tenants_listar' %}">Listar Tenants</a></span>
                <span>Crear Tenant</span></p>
            <div class="row justify-content-center">
                <div class="col-xl-9 ftco-animate">
                    <form method="post" enctype="multipart/form-data" action="#" class="billing-form ftco-bg-dark p-3 p-md-5 ">
                        {% csrf_token %}

                        <div class="row justify-content-center">
                            <div class="col-xl-9 ftco-animate">
                                <h3 class="mb-4 billing-heading">Crear Tenant</h3>
                            </div>
                            <div class="col-xl-3 ftco-animate ">
                                <p><a href="{% url 'tenants:tenants_listar' %}" style="width: 160px;" class="btn btn-white btn-outline-white p-2">Ver Tenants</a></p>
                            </div>
                        </div>
                        <div class="row align-items-end">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    {% bootstrap_field form.nombre show_label=False %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="direccion">Dirección</label>
                                    {% bootstrap_field form.direccion show_label=False %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefono">Teléfono</label>
                                    {% bootstrap_field form.telefono show_label=False %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="paquete">Paquete</label>
                                    {% bootstrap_field form.paquete show_label=False %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fecha">Fecha Límite</label>
                                    {% bootstrap_field form.pagado_hasta show_label=False %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="dominio">Subdominio</label>
                                    {% bootstrap_field form.schema_name show_label=False %}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12 align-items-end">
                                <div class="form-group mt-2">
                                    <div class="text-center w-full p-t-15 p-b-15">
                                        <input class="btn btn-primary py-4 px-4"  type="submit"  value="Guardar Tenant" />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}

{% block js %}
    <script>
    </script>
{% endblock js %}
