{% extends 'base_maravilla.html' %}
{# Load the tag library #}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'coffee_template/css/tenant-listar.css' %}">
    <style media="screen"></style>
{% endblock css %}

{% block titulo %} Tenants {% endblock titulo %}

{% block contenido %}
    <section class="ftco-section">
        <div class = "container">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'usuarios:home' %}">Home</a></span><span>Lista de Tenants</span></p>

            <form action="#" class="billing-form ftco-bg-dark p-3 p-md-5">
                <div class="row justify-content-center">
                    <div class="col-xl-10 ftco-animate">
                        <h3 class="mb-4 billing-heading">Lista de Tenants</h3>
                    </div>
                    <div class="col-xl-2 ftco-animate">
                        <p><a href="{% url 'tenants:tenant_crear' %}" style="width: 143px;" class="btn btn-primary p-2">Crear Tenant</a></p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tabla_items" class="table table-striped">

                        <thead class="thead-dark">
                        <tr>
                            <th style="width: 10.5%" scope="col">Subdominio</th>
                            <th style="width: 10.5%" scope="col">Nombre</th>
                            <th style="width: 10.5%" scope="col">Paquete</th>
                            <th style="width: 10.5%" scope="col">Fecha Límite</th>
                            <th style="width: 12.5%" scope="col">Dirección</th>
                            <th style="width: 10.5%" scope="col">Teléfono</th>
                            <th style="width: 10.5%" scope="col">Estado</th>
                            <th style="width: 14%" scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody >
                        {% for dominio in dominios %}
                            <tr>
                                <td style="width: 10.5%">
                                    {{dominio.domain}}
                                </td>
                                <td style="width: 10.5%">
                                    {{dominio.tenant.nombre}}
                                </td>
                                <td style="width: 10.5%">
                                    {{dominio.tenant.paquete}}
                                </td>
                                <td  style="width: 10.5%">
                                    {{dominio.tenant.pagado_hasta}}
                                </td>
                                <td style="width: 12.5%">
                                    {{dominio.tenant.direccion}}
                                </td>
                                <td style="width: 10.5%">
                                    {{dominio.tenant.telefono}}
                                </td>
                                <td style="width: 10.5%">
                                    {{ dominio.tenant.estado|yesno:"Disponible,No disponible"}}
                                </td>
                                <td style="width: 14%">

                                    <p class="mb-1"><a href="{% url 'tenants:tenant_modificar' dominio.tenant.id %}"  class="btn btn-outline-warning custom-btn">Modificar</a></p>
                                    {% if dominio.tenant.estado == True %}
                                        <p><a href="{% url 'tenants:tenant_desactivar' dominio.tenant.id %}" class="btn btn-outline-danger custom-btn">Desactivar</a></p>
                                    {% else %}
                                        <p><a href="{% url 'tenants:tenant_activar' dominio.tenant.id %}" class="btn btn-outline-primary custom-btn">Activar</a></p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </form>
        </div>
    </section>

{% endblock contenido %}

{% block js %}
    <script type="text/javascript" language="javascript" src="{% static 'dist/js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'dist/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'dist/js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#tabla_items').DataTable({
                responsive: true
            });
        } );
    </script>

{% endblock js %}
