{% extends 'base_tenant.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block titulo %}Carrito de Compras{% endblock titulo %}
{% block contenido %}

    <section class="ftco-section ftco-cart">
        <div class="row justify-content-center">
            <div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3 class="row justify-content-center">Gracias Por Su Compra</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p class="text-center"><a href="{% url 'usuarios:factura' orden_id %}" class="btn btn-primary py-3">Imprimir Factura</a></p>
                    </div>
                    {% if not request.user.is_anonymous %}
                        <div class="col-md-6">
                            <p class="text-center"><a href="{% url 'usuarios:mis_compras' %}" class="btn btn-primary py-3 px-4">Ver Compras</a></p>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
        </div>
    </section>


{% endblock contenido %}
{% block js %}

{% endblock js %}