{% extends 'base_dash.html' %}
{# Load the tag library #}
{% load static %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'coffee_template/css/producto-listar.css' %}">

{% endblock css %}

{% block titulo %}Listar Ingredientes{% endblock titulo %}

{% block contenido %}

    <section class="ftco-section center">
        <div class="container">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'usuarios:home' %}">Home</a></span>
                <span>Lista de Ingredientes</span></p>
            <form action="#" class="billing-form ftco-bg-dark p-3 p-md-5">
                <div class="row justify-content-center">
                    <div class="col-xl-10 ftco-animate">
                        <h3 class="mb-4 billing-heading">Lista de Ingredientes</h3>
                    </div>
                    <div class="col-xl-2 ftco-animate" >
                        <p><a href="{% url 'productos:ingrediente_crear' %}" style="width: 145px;" class="btn btn-primary p-2">Crear Ingrediente</a></p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="example" class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th style="width: 25%">Imagen</th>
                            <th style="width: 25%">Nombre</th>
                            <th style="width: 25%">Precio</th>
                            <th style="width: 25%">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ingrediente in ingrediente_list %}
                            <tr>
                                <td  style="width: 25%">
                                    {% if ingrediente.imagen  %}
                                        <img style="width: 150px; height: 110px;" src="{{ingrediente.imagen.url}}" class="img img-fluid centerImage ">
                                    {% else %}
                                        <img style="width: 150px; height: 110px; " src="{% static 'imagenes (acomodar)/no_image.jpg' %}" class="img img-fluid centerImage">
                                    {% endif %}
                                </td>
                                <td  style="width: 25%" >{{ingrediente.nombre}}</td>
                                <td  style="width: 25%">{{ingrediente.precio_por_unidad}}</td>
                                <td style="width: 25%">
                                    <p class="mb-1"><a href="{% url 'productos:ingrediente_detalle' ingrediente.id %}" class="btn btn-outline-info custom-btn">Ver Detalle</a></p>
                                    <p class="mb-1"><a href="{% url 'productos:ingrediente_actualizar' ingrediente.id %}" class="btn btn-outline-warning custom-btn">Modificar</a></p>
                                    <p><a href="{% url 'productos:ingrediente_eliminar' ingrediente.id %}" class="btn btn-outline-danger custom-btn">Eliminar</a></p>
                                    <div class="container">
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </section>
{% endblock contenido %}

{% block js %}
    <script type="text/javascript" language="javascript" src="{% static 'dist/js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'dist/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'dist/js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>

{% endblock js %}
