{% extends 'base_tenant.html' %}
{% load staticfiles %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}Tienda{% endblock titulo %}


{% block contenido %}
    <section class="ftco-menu mb-5 pb-5">
        <div class="container">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'usuarios:home' %}">Home</a></span> <span>Tienda</span></p>
            <div class="row d-md-flex">
                <div class="col-lg-12 ftco-animate ">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap mb-5">
                            <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                                <a class="nav-link active" id="v-pills-0-tab" data-toggle="pill" href="#v-pills-0" role="tab" aria-controls="v-pills-0" aria-selected="true">Carne</a>

                                <a class="nav-link" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="false">Pasta</a>

                                <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Comidas Rápidas</a>

                                <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Menú Infantil</a>

                                <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Bebidas</a>

                                <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-4" aria-selected="false">Adiciones</a>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="tab-content ftco-animate" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-0" role="tabpanel" aria-labelledby="v-pills-0-tab">
                                    <div class="row">
                                        {% for producto in producto_list %}
                                            {% if producto.tipo == "Carne/Pollo" and producto.estado %}
                                                <div class="col-lg-4">
                                                    <div class="menu-entry">
                                                        {% if producto.imagen  %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({{producto.imagen.url}});"></a>
                                                        {% else %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({% static 'imagenes (acomodar)/no_image.jpg' %});"></a>
                                                        {% endif %}
                                                        <div class="text text-center pt-4">
                                                            <h3><a href="{% url 'productos:item' producto.id %}">{{ producto.nombre }}</a></h3>
                                                            {% if producto.descripcion|length < 31 %}
                                                                <p>{{ producto.descripcion }}</p>
                                                                {% else %}
                                                                <p>{{ producto.descripcion|truncatechars:30 }}</p>
                                                                {% endif %}
                                                            <p class="price"><span>${{ producto.precio }}</span></p>
                                                            <p><a href="{% url 'carrito:agregar_a_carrito' producto.id %}" class="btn btn-primary btn-outline-primary">Agregar Al carrito</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                    <div class="row">
                                        {% for producto in producto_list %}
                                            {% if producto.tipo == "Pasta" and producto.estado %}
                                                <div class="col-lg-4">
                                                    <div class="menu-entry">
                                                        {% if producto.imagen  %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({{producto.imagen.url}});"></a>
                                                        {% else %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({% static 'imagenes (acomodar)/no_image.jpg' %});"></a>
                                                        {% endif %}
                                                        <div class="text text-center pt-4">
                                                            <h3><a href="{% url 'productos:item' producto.id %}">{{ producto.nombre }}</a></h3>
                                                            {% if producto.descripcion|length < 31 %}
                                                                <p>{{ producto.descripcion }}</p>
                                                                {% else %}
                                                                <p>{{ producto.descripcion|truncatechars:30 }}</p>
                                                                {% endif %}
                                                            <p class="price"><span>${{ producto.precio }}</span></p>
                                                            <p><a href="{% url 'carrito:agregar_a_carrito' producto.id %}" class="btn btn-primary btn-outline-primary">Agregar Al carrito</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                    <div class="row">
                                        {% for producto in producto_list %}
                                            {% if producto.tipo == "Comida Rápida" and producto.estado %}
                                                <div class="col-lg-4">
                                                    <div class="menu-entry">
                                                        {% if producto.imagen  %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({{producto.imagen.url}});"></a>
                                                        {% else %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({% static 'imagenes (acomodar)/no_image.jpg' %});"></a>
                                                        {% endif %}
                                                        <div class="text text-center pt-4">
                                                            <h3><a href="{% url 'productos:item' producto.id %}">{{ producto.nombre }}</a></h3>
                                                            {% if producto.descripcion|length < 31 %}
                                                                <p>{{ producto.descripcion }}</p>
                                                                {% else %}
                                                                <p>{{ producto.descripcion|truncatechars:30 }}</p>
                                                                {% endif %}
                                                            <p class="price"><span>${{ producto.precio }}</span></p>
                                                            <p><a href="{% url 'carrito:agregar_a_carrito' producto.id %}" class="btn btn-primary btn-outline-primary">Agregar Al carrito</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                    <div class="row">
                                        {% for producto in producto_list %}
                                            {% if producto.tipo == "Infantil" and producto.estado %}
                                                <div class="col-lg-4">
                                                    <div class="menu-entry">
                                                        {% if producto.imagen  %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({{producto.imagen.url}});"></a>
                                                        {% else %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({% static 'imagenes (acomodar)/no_image.jpg' %});"></a>
                                                        {% endif %}
                                                        <div class="text text-center pt-4">
                                                            <h3><a href="{% url 'productos:item' producto.id %}">{{ producto.nombre }}</a></h3>
                                                            {% if producto.descripcion|length < 31 %}
                                                                <p>{{ producto.descripcion }}</p>
                                                                {% else %}
                                                                <p>{{ producto.descripcion|truncatechars:30 }}</p>
                                                                {% endif %}
                                                            <p class="price"><span>${{ producto.precio }}</span></p>
                                                            <p><a href="{% url 'carrito:agregar_a_carrito' producto.id %}" class="btn btn-primary btn-outline-primary">Agregar Al carrito</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                                    <div class="row">
                                        {% for producto in producto_list %}
                                            {% if producto.tipo == "Bebida" and producto.estado %}
                                                <div class="col-lg-4">
                                                    <div class="menu-entry">
                                                        {% if producto.imagen  %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({{producto.imagen.url}});"></a>
                                                        {% else %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({% static 'imagenes (acomodar)/no_image.jpg' %});"></a>
                                                        {% endif %}
                                                        <div class="text text-center pt-4">
                                                            <h3><a href="{% url 'productos:item' producto.id %}">{{ producto.nombre }}</a></h3>
                                                            {% if producto.descripcion|length < 31 %}
                                                                <p>{{ producto.descripcion }}</p>
                                                                {% else %}
                                                                <p>{{ producto.descripcion|truncatechars:30 }}</p>
                                                                {% endif %}
                                                            <p class="price"><span>${{ producto.precio }}</span></p>
                                                            <p><a href="{% url 'carrito:agregar_a_carrito' producto.id %}" class="btn btn-primary btn-outline-primary">Agregar Al carrito</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade show active" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
                                    <div class="row">
                                        {% for producto in producto_list %}
                                            {% if producto.tipo == "Adición" and producto.estado %}
                                                <div class="col-lg-4">
                                                    <div class="menu-entry">
                                                        {% if producto.imagen  %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({{producto.imagen.url}});"></a>
                                                        {% else %}
                                                            <a href="{% url 'productos:item' producto.id %}" class="img" style="background-image: url({% static 'imagenes (acomodar)/no_image.jpg' %});"></a>
                                                        {% endif %}
                                                        <div class="text text-center pt-4">
                                                            <h3><a href="{% url 'productos:item' producto.id %}">{{ producto.nombre }}</a></h3>
                                                            {% if producto.descripcion|length < 31 %}
                                                                <p>{{ producto.descripcion }}</p>
                                                                {% else %}
                                                                <p>{{ producto.descripcion|truncatechars:30 }}</p>
                                                                {% endif %}
                                                            <p class="price"><span>${{ producto.precio }}</span></p>
                                                            <p><a href="{% url 'carrito:agregar_a_carrito' producto.id %}" class="btn btn-primary btn-outline-primary">Agregar Al carrito</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}
{% block js %}

{% endblock js %}
