
input[type="file"]::-webkit-file-upload-button { vertical-align: middle; height: 80%; width: 70%; margin-top: 1%;}
input[type="checkbox"]{ outline:0.2px solid gray;outline-offset: -2px;}
.textarea { cols:30; width: 200px; height: 150px;}
