
a {
    color: #c49b63; }
a:hover, a:active, a:focus {
    color: #c49b63; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    color: #fff;}

.text3 {
    color: #c49b63 !important;
}
.text {
    color: white !important;
}
.services .icon > span, h3{
    color: black !important;
    }

.services .icon {
    bordeR: 1px solid black !important;
    }

.text-primary {
    color: #c49b63 !important; }
.text-primary {
    color: #c49b63 !important; }

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover, .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:focus {
    color: #c49b63; }

.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    border: 1px solid #c49b63;
    background: #c49b63;}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
    display: inline-block;
    color: #fff; }
.ftco-navbar-light .navbar-nav > .nav-item.cta > a:hover {
    background: #c49b63;
    border: 1px solid #c49b63; }
.ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored span {
    border-color: #c49b63; }
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #c49b63; }
.ftco-navbar-light .navbar-nav > .nav-item.active > a:after {
    opacity: 1;
    background: #c49b63; }
.ftco-navbar-light.scrolled .nav-item.active > a {
    color: #c49b63 !important; }
.ftco-navbar-light.scrolled .nav-item.cta > a {
    color: #fff !important;
    background: #c49b63;}
.ftco-navbar-light.scrolled .nav-item.cta > a span {
    color: #fff !important; }
.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
    border-color: #c49b63; }
.ftco-navbar-light.scrolled .nav-link.active {
    color: #c49b63 !important; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {

    color: #c49b63 !important;
}
.owl-carousel.home-slider .slider-item .slider-text .subheading {
    color: #c49b63; }
.bg-primary {
    background: #c49b63; }
.btn:hover, .btn:active, .btn:focus {
    outline: none; }
.btn.btn-primary {
    background: #c49b63;
    border: 1px solid #c49b63;
    color: #000; }
.btn.btn-primary:hover {
    border: 1px solid #c49b63;
    background: transparent;
    color: #c49b63; }
.btn.btn-primary.btn-outline-primary {
    border: 1px solid #c49b63;
    background: transparent;
    color: #c49b63; }
.btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #c49b63;
    color: #fff; }
.btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
    background: #c49b63;
    border-color: #c49b63;
    color: #000; }
.ftco-intro .wrap .book {
    width: 35%;
    background: #c49b63; }
.ftco-intro .wrap .icon span {
    color: #c49b63;
    font-size: 20px; }

.ftco-services {
    color: #1d150b;
    background: #c49b63; }
.ftco-services .heading-section h2 {
    color: black; }

.services .icon {
    bordeR: 1px solid #674c27; }
.services .icon span {
    color: #1d150b;}

.services h3 {
    color: black;}

.services .media-body {
    color: #1d150b; }

.services-wrap .text .price span {
    color: #c49b63; }

.gallery .icon:after {
    background: #c49b63;
}
.gallery .icon span {
    color: #fff; }
.pricing-entry .text:after {
    border-bottom: 1px dashed #674c27;
}
.pricing-entry .text .price {
    color: #c49b63;
    background: #151111;}

.product-details button i {
    color: #c49b63; }

.product-details button, .product-details .form-control {
    bordeR: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: #c49b63 !important;}

.product-details .form-group .icon {
    color: #c49b63; }
.product-details .form-group .icon span {
    color: #c49b63; }
.ftco-cart button i {
    color: #c49b63; }

.ftco-cart button, .ftco-cart .form-control {
    bordeR: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: #c49b63 !important;}
.ftco-cart .form-group .icon {
    color: #c49b63; }
.ftco-cart .form-group .icon span {
    color: #c49b63; }
.table .thead-primary {
    background: #c49b63; }
.table .thead-primary tr th {
    color: #fff !important;}
.table tbody tr td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important; }
.table tbody tr td.product-remove a {
    bordeR: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px; }
.table tbody tr td.product-remove a:hover {
    background: #c49b63; }
.table tbody tr td.product-remove a:hover span {
    color: #000; }
.cart-total p.total-price span:last-child {
    color: #c49b63; }
.cart-total hr {
    background: rgba(255, 255, 255, 0.1); }

.billing-form .form-control:focus, .billing-form .form-control:active {
    border-color: #c49b63 !important; }

.ftco-appointment .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c49b63;
    opacity: 0; }

.staff .info h3 a {
    color: #c49b63; }
.staff:hover, .staff:focus {
    -webkit-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
    border: 1px solid #c49b63; }
.staff:hover .img, .staff:focus .img {
    border: 1px solid #c49b63; }

.ftco-social a span {
    color: #c49b63; }

.form-control:focus, .form-control:active {
    border-color: #c49b63; }

textarea.form-control {
    height: inherit !important; }

.bg-primary {
    background: #c49b63 !important; }

.ftco-bg-dark {
    background: #030202; }

.ftco-footer {
    background: #120f0f; }
.heading-section .subheading {
    font-family: "Great Vibes", cursive;
    color: #c49b63;}
.heading-section h2 span {
    color: #c49b63; }
.heading-section p.flip:after {
    background: #423119;
    margin: 0 auto; }
.heading-section p.flip:before {
    background: #423119;
    margin: 0 auto; }
.heading-section p.flip span.deg1 {
    background: #c49b63;}
.heading-section p.flip span.deg2 {
    background: #c49b63;
}
.heading-section p.flip span.deg3 {
    background: #c49b63;
}

.heading-section-dark p.flip:after {
    background: #c49b63;
    margin: 0 auto; }
.heading-section-dark p.flip:before {
    background: #c49b63;
    margin: 0 auto; }

#section-counter .overlay {
    background: #000;
    opacity: .5; }

.ftco-counter .icon:after {
    bordeR: 1px solid #c49b63;
}

.ftco-counter .icon span {
    color: #c49b63; }
.ftco-counter .text strong.number {
    color: #c49b63; }
.ftco-counter .text:hover .icon span, .ftco-counter .text:focus .icon span {
    color: #000; }
.ftco-counter .text:hover .icon:after, .ftco-counter .text:focus .icon:after {
    background: #c49b63; }
.ftco-menu .nav-pills .nav-link {
    color: #c49b63;
    border-bottom: 1px solid #c49b63;}
.ftco-menu .nav-pills .nav-link.active, .ftco-menu .nav-pills .nav-link:hover {
    color: black;
    background: #c49b63;
    border-bottom: 1px solid transparent; }
.blog-entry .text .heading a {
    color: #fff; }
.blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
    color: #c49b63; }
.block-27 ul li a, .block-27 ul li span {
    color: #c49b63;
    border: 1px solid #674c27; }
.block-27 ul li.active a, .block-27 ul li.active span {
    background: #c49b63;
    color: #fff;
    border: 1px solid transparent; }

.contact-form .form-control:focus, .contact-form .form-control:active {
    border-color: #c49b63 !important; }
.block-21 .text .heading a {
    color: #cccccc; }
.block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
    color: #c49b63; }
.block-21 .text .meta > div a {
    color: gray; }
.custom-pagination li.active a, .custom-pagination .prev.active a, .custom-pagination .next.active a {
    background: #c49b63;
    color: #fff; }
