<li class="nav-item cart"><a href="{% url 'carrito:orden_detalle' %}" class="nav-link"><span class="icon icon-shopping_cart"></span>
    <span class="bag d-flex justify-content-center align-items-center"><small>{{ orden.get_carrito_items|length }}</small></span></a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">{{ usuario.username }}</a>
    <div class="dropdown-menu" aria-labelledby="dropdown04">
        <a class="dropdown-item" href="{% url 'usuarios:datos' usuario.id %}">Mi cuenta</a>
        <a class="dropdown-item" href="{% url 'usuarios:contrasena' usuario.id %}">Cambiar contraseña</a>
        <a class="dropdown-item" href="{% url 'carrito:orden_detalle' %}">Carrito de Compras</a>
        <a class="dropdown-item" href="#">Mis Compras</a>
        <a class="dropdown-item" href="{% url 'usuarios:salir' %}">Salir</a>
    </div>
</li>
