{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block miga_pan %}{% endblock miga_pan %}
{% block titulo %}Productos{% endblock titulo %}

{% block contenido %}
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Excelentes Productos, delicioso sabor</span>
                                <span class="section-heading-lower">Acerca de Nosotros</span>
                            </h2>
                             <p>La empresa Maravilla es una franquicia individual de carácter nacional para la elaboración, producción, promoción y comercialización de alimentos procesados en diferentes líneas:</p>
                                <p>Pollo, pastas, comidas rápidas, fritos, bebidas, carnes, pescados, menú infantil y la línea de combos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}
{% block js %}

{% endblock js %}


