{% extends 'base_franquicia.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block miga_pan %}{% endblock miga_pan %}
{% block titulo %}Home{% endblock titulo %}


{% block contenido %}
<section style="background-color: transparent" class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'vendor/img/intro2.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-3 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Alimentos Frescos</span>
                    <span class="section-heading-lower">DE LA MEJOR CALIDAD</span>
                </h2>
                <p class="text-justify mb-4">La empresa Maravilla es una franquicia individual de carácter nacional para la elaboración, producción, promoción y comercialización de alimentos procesados en diferentes líneas.
                    Cada uno de los productos que ofrecemos es elaborado y producido con la mejor calidad.
                    Pollo, pastas, comidas rápidas, fritos, bebidas, carnes, pescados, menú infantil y la línea de combos.
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">Crea tu Franquicia Ahora!</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}
{% block js %}

{% endblock js %}
