{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block miga_pan %}{% endblock miga_pan %}
{% block titulo %}Home{% endblock titulo %}


{% block contenido %}
<section style="background-color: transparent" class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'vendor/img/intro2.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Alimentos Frescos</span>
                    <span class="section-heading-lower">Vale la pena probarlos</span>
                </h2>
                <p class="mb-3">Cada uno de los productos que ofrecemos es elaborado y producido con la mejor calidad. Si eres amante de la excelente comida, no te quedes con las ganas. - Pruébalos!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">Pide ahora!</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}
{% block js %}

{% endblock js %}
